.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 24px 96px;
}

.header_menu {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.13px;
  margin: 44px 36px 39px 26.52px; 
  text-align: justify; 
}

.header_menu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: circle;
}


li.header_menu-item_active {
  list-style-type: none;
}

.header_menu-link {
  text-underline-offset: 4px;
}

.header_logo {
  width: 148px;
  height: 105px;
}

.header_logo-image {
  width: 148px;
  height: 105px;
}

.header_contacts {
  justify-self: end;
  margin: 5px 25.48px 2px 0px;
}

.contacts {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
  width: 240.52px;
}

.address {
  font-style: normal;
}

.contacts_link {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.cover {
  position: relative;
  width: 1100px;
  min-height: 757px;
  background-position: center;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.6);
}

.cover_title {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 165px 50px 135px 50px;
  gap: 20px;
  color: #fff;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 100px;
  text-transform: uppercase;
}

.aligned-text {
  letter-spacing: 30px;
  line-height: 100px;
}

.aligned-text:first-child {
  line-height: 115px;
}

.letter_spacing {
  letter-spacing: 60px;
}

.no_letter_spacing {
  letter-spacing: 0px;
}

.text_center {
  text-align: center;
}

.text_right {
  text-align: right;
}

.cover_description {
  position: absolute;
  display: flex;
  flex-direction: row;
}

.cover_description-text {
  margin: 12px 79px 62px 78px;
  font-family: Ralevay, sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #fff;
  word-spacing: 17.5px;
  text-transform: uppercase;
}

.bet_button {
  width: 256px;
  height: 51px;
  border: 1px solid currentColor;
  background: transparent;
  font-family: Ralevay, sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 25.83px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

.lots {
  margin: 179px 24px 146px;
  width: 1052px;
}

.title_lots {
  margin-left: 40px;
  margin-bottom: 27px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  line-height: 46.96px;
}

.lots_card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
}

ul.lots_card-list {
  list-style-type: none;
}

.cards_link {
  height: 100%;
  text-decoration: none;
}

.card_main_info {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: start;
}

.cards {
  position: relative;
  width: 334px;
  min-height: 563px;
  flex-grow: 1;
}

.cards_img {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card_img_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_img_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_img_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card_title {
  margin: 51px 40px auto 40px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 26.4px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
}

.card_text {
  margin: auto 40px 48px 40px;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
}


.lots_more {
  margin-top: 30px;
  margin-left: 40px;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 23.48px;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 1px;
}

.about {
  display : grid;
  grid-template-columns: 334px 1fr;
  column-gap: 25px;
  width: 1052px;
  margin: 0px 24px 0px;
}

.section_logo {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  width: 334px;
}

.about_logo {
  width: 240px;
  height: 240px;
  margin-top: 35px;
  justify-self: center;
}

.about_logo_background {
  display: grid;
  grid-template-columns: 1fr;
  height: 240px;
  width: 240px;
  background-color: #000;
  border-radius: 50%;
}

.about_logo-img {
  width: 148px;
  height: 114px;
  justify-self: center;
  align-self: center;
}

.section_about {
  padding-top: 130px;
}

.section_about_title {
  margin: 3px auto 100px 0px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 46.96px;
  text-transform: uppercase;
}

.section_about_text {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: start;
  margin-right: 5px;
  margin-bottom: 24px;
}

.section_about_text:last-child {
  margin: 0;
}

.footer {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: 180px 50px 88px;
}
.footer_menu {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.13px;
}

.footer_menu ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


li.footer_menu-item {
  list-style-type: none;
}

.footer_menu-link {
  text-underline-offset: 4px;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 48px;
}

.footer_socials_logo {
  width: 48px;
  height: 48px;
}
