.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 92px 24px 96px;
}

.header_menu {
    margin: 44px 36px 39px 26.52px;
}

.header_logo-image {
    width: 148px;
    height: 105px;
}

.header_contacts {
    margin: 5px 25.48px 2px 184px;
}

.cover {
    margin-bottom: 179px;
}

.cover-image {
    width: 1100px;
    height: 757px;
}